:root.theme-dark {
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
  
    --color-cover: #DB00FF;
    --color-accent: #FF0070;
    --color-highlight: #000028;
    --color-text: #F1B2CE;
    --color-section-title: #FF0070;
    --color-decoration: #FF0070;
    --border-button-hover: 1px solid rgba(255, 0, 112, 0.4);
}
  
.theme-dark .rec {
    display: inline-block;
}