:root.theme-light {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
  
    --color-cover: #FFC2E6;
    --color-accent: #FF8DCB;
    --color-highlight: #353430;
    --color-text: #353430;
    --color-section-title: var(--color-text);
    --color-decoration: #353430;
    --border-button-hover: 1px solid rgba(50, 49, 45, 0.4);
}
  
.theme-light .rec {
    display: none;
}
  
@media (prefers-color-scheme: light) {
    :root {
        --background-image: url(../images/cover-image-light.png);
        --background-color: #FFF1F7;
    
        --color-cover: #FFC2E6;
        --color-accent: #FF8DCB;
        --color-highlight: #353430;
        --color-text: #353430;
        --color-section-title: var(--color-text);
        --color-decoration: #353430;
        --border-button-hover: 1px solid rgba(50, 49, 45, 0.4);
    }
  
    .rec {
        display: none;
    }
}